.price-tab {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .card {
      flex: 20%;
      padding: 10px;
      max-width: 320px;
      box-sizing: border-box;
  }
  .table {
      background: #eee;
      padding: 50px 20px;
      font-family: 'Cairo', sans-serif;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 10px black;
  }
  img {
      margin: 0 auto;
      width: 250px;
  }
  .table h2 {
      text-transform: uppercase;
  }
  .table ul {
      margin: 0;
      padding: 0;
      padding: 10px 0;
      list-style: none
  }
  .table h6 {
    font-size:17px
  }
  
  .price {
      font-size: 40px;
      margin-bottom: 20px;
  }
  .price span{
      display: block;
      font-size: 10px;
  }
  .table a{
      text-decoration: none;
      color: black;
      background: white;
      border: 1px solid orange;
      padding: 6px;
      margin: 6px;
      border-radius: 40px;
      text-transform: uppercase;
      transition: 2.4s;
  }
  a:hover {
      background: orange;
      color: #fff;
  }
  
  :hover> .table{
      box-shadow: 0 0 20px black;
      background: -webkit-linear-gradient(41deg, rgb(255, 182, 90), rgb(249, 255, 99));
      background: linear-gradient(41deg, rgb(255, 182, 90), rgb(249, 255, 99));
      color: white;
      transition: 0.6s;
  
  }
  .pop {
      background: orange;
      color: #fff;
      transform: rotate(45deg);
      padding: 10px 50px;
      position: absolute;
      top: 20px;
      right: -40px;
  }
  @media screen and (max-width:970px) {
      .card{
          flex: 52%;
      }
  }
  @media screen and (max-width:700px) {
      .card{
          flex: 100%;
      }
  }
  /* new */
  .sar
{
background: #00bcd4;
text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(255, 255, 255); */
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #ffc004;
  }